logs
cache
world*
*/data
*/DIM-1
*/region
*/playerdata
*/session.lock
*/uid.dat
level.dat*
*.db*
STATUS
plugins/UhcCore/config.yml
plugins/UhcCore/storage.yml
CURRENT_MODE
plugins/ProtocolLib/lastupdate
